h2 {
  font-family: "Brush Script MT";
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
}
body {
  text-align: center;
  font-family: "Helvetica";
}
.word-row {
  display: flex;
  justify-content: center;
}
#custom-word {
  width: 500px;
}
input[type="text"] {
  height: 50px;
  width: 50px;
  font-size: 40px;
  text-align: center;
  margin: 2px;
  font-family: "Helvetica";
  font-weight: 600;
}
#basic-mode {
  background-color: #d4efc7;
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin-right: 20px;
}

#custom-mode {
  background-color: #f9e5aa;
  width: 100px;
  height: 40px;
  cursor: pointer;
}