body {
  text-align: center;
}
.word-row {
  display: flex;
  justify-content: center;
}
#custom-word {
  width: 500px;
}
input[type="text"] {
  height: 50px;
  width: 50px;
  font-size: 40px;
  text-align: center;
  margin: 2px;
}